body {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgb(3, 3, 104),white,red);
}
header{
    padding-bottom: 60px;
}
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 0, 0, 0);
}
.pdf{
    box-shadow: 0px 0px 5px 7.5px rgb(38, 0, 255);
    border-radius: 20px;
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: royalblue;
    color:yellow
}
main {
    margin-bottom: 40px;
    margin-left: 65vh;
    margin-right: 65vh;
    background-color: rgba(255, 255, 255, 0);
}
nav {
    position: fixed;
    border-radius: 20px;
    width: 100%;
    text-align: center;
    background-color:rgba(218, 15, 15, 0) ;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.skill{
    -webkit-appearance: none;
    font-size:30px;
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px grey;
}
/*
.liennav {
    color: rgb(238, 234, 15);
    border-radius: 20px;
    display: inline-block;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    background-color:rgb(4, 4, 122) ;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0px 0px 5px 7.5px rgb(255, 255, 255);
}
*/
.liennav {
    color: rgb(0, 0, 0);
    display: inline-block;;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    background-color:rgba(4, 4, 122, 0) ;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.liennav:hover{
    border-bottom: solid;
    border-top: solid;
}

section:not(:target){
    display: none;
}
section:target{
    display: flex;
    flex-direction: column;
}

.tiAcc {
    text-align: center;
    font-size: 3em;
    font-style: italic;
    text-decoration: underline
}
.subAcc {
    text-align: center;
    font-style:italic;
    text-decoration:underline;
}
.portrait{
    border-radius: 30px;
    box-shadow: 0px 0px 5px 7.5px rgb(249, 253, 0)
}
.formation {
    margin-bottom: 40px;
}
.centre{
    text-align: center;
}